__pycache__/
build/
dist/*.exe
dist/z_*
*.log
logs/
flux.log
*.pyc
build/
*.spec
dist/
bin/*.exe
bin/*.dll
bin/*.png
*.png
*.ico
*.manifest
build_v2.spec
fix_*.py
rename_*.py
old_AmneziaLib.dll
test_scope.py
